.contact-button {
    display: flex;
    width: 80px;
    height: 40px;
    background-color: white; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}
.background{
    height: 740px;
    background-color: #ccc;
}

.tick, .cross {
    width: 40px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tick{
    background-color: rgb(97, 233, 97);
}
.cross{
    background-color: rgb(240, 110, 93);
}


